html, h1, h2, h3, p, ul, li {
	font-family: 'Roboto', sans-serif;
}

a:hover {
	text-decoration: none;
}

.main-title {
	text-align: center;
	font-weight: 400;
}

.subtitle {
	font-size: 18px;
	text-align: center;
	font-weight: 300;
}

h3 {
	font-size: 16px;
}

ul > li {
	font-size: 13px;
}

.btn-wrap {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}
.input-wrap {
	max-width: 200px;
	text-align: center;
	margin: 10px auto;
}